.footer{
    margin-left: 240px;
    padding: 15px 30px;
    background: #2c3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 0;

}

.footer-socials a{
    margin-left: 15px;
    text-decoration: none;
    color: #bdc3c7;
    font-size: 14px;
}

.footer-socials a:hover{
    color: #f39c12;
}