.sidebar {
    display:flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #282c34;
    padding: 1rem;

}
.sidebar a{
    color: white;
    text-decoration: none;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
}

.sidebar a:hover {
    background-color: #3a3f47;
    color: #61dafb;
}